@charset "utf-8";


/*YoonGothicPro700 윤고딕폰트*/
@font-face {
	font-family: 'Yoon730';
	font-weight: 300;
	font-display: swap;
	src: local('Yoon730'),/* Yoon® 민국 */
				url('../font/YoonGothicPro700/YoonGothicPro730.eot') format('embedded-opentype'),
				url('../font/YoonGothicPro700/YoonGothicPro730.ttf') format('truetype'),
				url('../font/YoonGothicPro700/YoonGothicPro730.woff') format('woff');
}

@font-face {
	font-family: 'Yoon740';
	font-weight: 400;
	font-display: swap;
	src: local('Yoon740'),
				url('../font/YoonGothicPro700/YoonGothicPro740.eot') format('embedded-opentype'),
				url('../font/YoonGothicPro700/YoonGothicPro740.ttf') format('truetype'),
				url('../font/YoonGothicPro700/YoonGothicPro740.woff') format('woff');
}

@font-face {
	font-family: 'Yoon770';
	font-weight: 600;
	font-display: swap;
	src: local('Yoon770'),
				url('../font/YoonGothicPro700/YoonGothicPro770.eot') format('embedded-opentype'),
				url('../font/YoonGothicPro700/YoonGothicPro770.ttf') format('truetype'),
				url('../font/YoonGothicPro700/YoonGothicPro770.woff') format('woff');
}

@font-face {
	font-family: 'Yoon780';
	font-weight: 700;
	font-display: swap;
	src: local('Yoon780'),
				url('../font/YoonGothicPro700/YoonGothicPro780.eot') format('embedded-opentype'),
				url('../font/YoonGothicPro700/YoonGothicPro780.ttf') format('truetype'),
				url('../font/YoonGothicPro700/YoonGothicPro780.woff') format('woff');
}

@font-face {
	font-family: 'Perpetua Bold';
	font-weight: bold;
	src: local('Perpetua-Bold'),  url('../font/Perpetua/PerpetuaMTPro-Bold.otf') format('otf'),
	url('../font/Perpetua/Perpetua-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-weight: 700;
	src: local('Gotham-Bold'),  url('../font/Gotham/Gotham-Bold.otf') format('otf'),
	url('../font/Gotham/Gotham-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Gotham-Medium';
	font-weight: 500;
	src: local('Gotham-Medium'), url('../font/Gotham/Gotham-Medium.otf') format('otf'),
	url('../font/Gotham/Gotham-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Gotham-Book';
	font-weight: 400;
	src: local('Gotham-Book'), url('../font/Gotham/Gotham-Book.otf') format('otf'),
	url('../font/Gotham/Gotham-Book.woff') format('woff');
}

@font-face {
	font-family: 'Gotham-Light';
	font-weight: 300;
	src: local('Gotham-Light'), url('../font/Gotham/Gotham-Light.otf') format('otf'),
	url('../font/Gotham/Gotham-Light.woff') format('woff');
}